#year{
    text-align: center;
    height: 50px;
    font-size: 40px;
    border: 2px solid blue; 
}
select{
    height: 50px;
    border: 2px solid;
}
button{
    height: 50px;
    width: 200px;
    font-size: 25px;
    border: 2px solid;
}